@page
@model Despenza.Pages.Inventory.CreateInventoryItemModel
@{
}

<h1>Opret Lagervare</h1>

<form method="post" class=" CoolForm">

    <div>
        <label asp-for="Ingredient.Name"></label>
        <input asp-for="Ingredient.Name" />
    </div>

    <div>
        <label asp-for="Ingredient.KiloPrice"></label>
        <input asp-for="Ingredient.KiloPrice" />
    </div>

    <div>
        <label asp-for="Ingredient.Unit"></label>
        <input asp-for="Ingredient.Unit" />
    </div>

    <div>
        <label asp-for="QuantityInStock"></label>
        <input asp-for="QuantityInStock" />
    </div>

    <button type="submit" class=" btn btn-success">Opret</button>

</form>