@page
@model Despenza.Pages.Inventory.RegisterWasteModel

<h1>Registrer spild</h1>
<div class="CoolForm">
    <form method="post">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }
        <div>
            <label asp-for="WareType">Varetype</label>
            <select asp-for="WareType" asp-items="Model.WareTypeOptions" onchange="this.form.submit()"></select>
        </div>

        <div>
            <label asp-for="WareId">Vare</label>
            <select asp-for="WareId" asp-items="Model.WareOptions"></select>
        </div>

        <div>
            <label asp-for="Reason">Årsag</label>
            <select asp-for="Reason" asp-items="Model.ReasonOptions"></select>
        </div>

        <div>
            <label asp-for="Quantity">Mængde</label>
            <input asp-for="Quantity" type="number" step="0.01" min="0" />
            <small>
                Ingredienser registreres i gram. Halvfabrikater og produkter registreres i stk.
            </small>
        </div>

        <button type="submit" class=" btn btn-success">Registrer spild</button>
    </form>
</div>
