@page
@model Despenza.Pages.User.CreateModel
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<form method="post">
    <label asp-for="Baker.Name" class="control-label"></label>
    <input asp-for="Baker.Name" />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
