@page
@model Despenza.Pages.Admin.CreateIngredientModel


<h1>Opret Ingredient</h1>
<div class="CoolForm">
    <form method="post">
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }
        <div>
            <label asp-for="Ingredient.Name"></label>
            <input asp-for="Ingredient.Name" />
        </div>

        <div>
            <label asp-for="Ingredient.KiloPrice"></label>
            <input asp-for="Ingredient.KiloPrice" />
        </div>              

        <button type="submit" class="btn btn-success">Opret</button>

    </form>
</div>