@page
@model Despenza.Pages.Admin.CreateIngredientModel

<h1>Opret Ingredient</h1>

<form method="post">

    <div>
        <label asp-for="InventoryItem.Ware.Name"></label>
        <input asp-for="InventoryItem.Ware.Name" />
    </div>

    <div>
        <label asp-for="InventoryItem.Ware.KiloPrice"></label>
        <input asp-for="InventoryItem.Ware.KiloPrice" />
    </div>

    <div>
        <label asp-for="InventoryItem.QuantityInStock"></label>
        <input asp-for="InventoryItem.QuantityInStock" />
    </div>

    <button type="submit">Opret</button>

</form>