@page
@model Despenza.Pages.Admin.EditIngredientModel

<h1>Rediger Ingredient</h1>

<form method="post" class=" CoolForm">
    <input type="hidden" asp-for="Ingredient.Id" />

    <div>
        <label asp-for="Ingredient.Name"></label>
        <input asp-for="Ingredient.Name" />
    </div>

    <div>
        <label asp-for="Ingredient.KiloPrice"></label>
        <input asp-for="Ingredient.KiloPrice" />
    </div>

    <div>
        <label asp-for="Ingredient.Unit"></label>
        <input asp-for="Ingredient.Unit" />
    </div>

    <button type="button" class=" btn btn-success">Gem ændringer</button>
</form>