@page
@model Despenza.Pages.Admin.EditIngredientModel

<h1>Rediger Ingredient</h1>

<form method="post">
    <input type="hidden" asp-for="InventoryItem.Id" />

    <div>
        <label asp-for="InventoryItem.Ware.Name"></label>
        <input asp-for="InventoryItem.Ware.Name" />
    </div>

    <div>
        <label asp-for="InventoryItem.Ware.KiloPrice"></label>
        <input asp-for="InventoryItem.Ware.KiloPrice" />
    </div>

    <div>
        <label asp-for="InventoryItem.QuantityInStock"></label>
        <input asp-for="InventoryItem.QuantityInStock" />
    </div>

    <button type="submit">Gem ændringer</button>
</form>